// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$primary: #6f31cd; // Thats a sample how you could change a BootStrap variable.

$deep-blue: #36425f;

$blue-gradient: linear-gradient(to right, rgba(0, 13, 82, 0.25), rgba(0, 117, 173, 0.25));
$white-hover: rgba(250, 250, 250, 0.15);

$dark-blue: #0c2140;
