body {
  font-weight: 200;
  letter-spacing: 1px;
  color:#fff;
  font-family: "din-2014";
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 200;
  letter-spacing: 2px;
}

a:hover{
  text-decoration: none !important;
}

div#page {
    background: #36425f;
}

.barba-container {
  position: absolute;
}
// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here


// helper classes

.displayNone {
  display:none;
}

a.c-btn {
    background: #fff;
    text-transform: uppercase;
    color: #333;
    font-size: 14px;
    padding: 12px 18px;
    display: -webkit-inline-box;
    font-weight: 500;
    margin-right: 8px;
    border: 1px solid #fff;
    background: none;
    color: #fff;
    transition: 300ms ease;
    margin-bottom: 1rem;
}
a.c-btn:hover {
    background: $white-hover;
}

// menus

#titleMenu {
    position: absolute;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 200;
}

#overlayMenu.hidden-menu {
  // height: 0%;
  padding-top:0px;
  padding-bottom: 0px;

  transition-duration: 600ms;
  transition-delay: 0s;

  opacity: 0;
  z-index: -100;

  .business-details, .menu-pages-container {
    opacity: 0;
    transition: 300ms;
    transition-delay: 0s;
  }
}

#overlayMenu {
  // background-color: rgba(54, 66, 95, 0.85);
  background-color: rgba(54, 66, 95, 0.5);
  // background-color: rgba(54, 66, 95, 0.4);
  background: linear-gradient(to right, #000D52, #0075AD);
  background: $blue-gradient;
  position: fixed;
  z-index: -10;
  height: 100%;
  width: 100%;
  padding-top:100px;
  padding-bottom:100px;
  overflow: hidden;
  // transition: 1000ms cubic-bezier(0.645, 0.045, 0.355, 1);
  // transition: 1s cubic-bezier(.75,0,.25,1);
  // transition-delay: 300ms;

  opacity: 1;

  display: flex;
  flex-direction: row;
  align-items: center;

  .align-div {
    width: 100%;
  }

  .business-details, .menu-pages-container {
    transition: 1000ms;
    transition-delay: 800ms;
    opacity: 1;
  }

  .menu-pages-container {
    display: flex;
    flex-direction: column;
    text-align: right;

    a {
      color: #fff;
      font-size: 2rem;
      letter-spacing: 2px;
      margin-bottom: 2rem;
      line-height: 1;
      opacity: 0.8;
      transition: 300ms ease;
    }
    a:hover{
      opacity: 1;
      }
    a:after {
      content: "—";
      position: relative;
      left: 0px;
      opacity: 0;
      width: 0px;
      transition: 300ms ease;
      }
    a:hover:after{
        content: "—";
        position: relative;
        left: 10px;
        opacity: 1;
        width: 35px;
    }
    a:last-of-type {
      margin-bottom: 0;
    }
  }
}

.business-details {
  p {
    color: #fff;
    margin-bottom: 0.65rem;
    // margin-bottom: .5rem;
    font-size: 20px;
  }
  .contact-details {
    padding-top:1rem;
    span {
      // font-weight: 500;
      // margin-right: 4px;
      color: #fff;
      margin-bottom: .5rem;
      font-size: 20px;
      line-height: 1.65;
    }
  }
}

.hb-flex {
  display: flex;
  align-items: center;
  height: 100%;
}

#wrapper-navbar {
    position: fixed;
    width: 100%;
}

img.cingeto-logo {
  position: relative;
  bottom: 18px;
  right: 18px;
  max-width: 175px;
}

.headerRow {
  // width: 100%;

  .logo {
    position: fixed;
    top: 50px;
    padding: 0 20px;
  }
  .menuBtn {
    // text-align: right;
  }
  .logo,.menuBtn {
    // font-weight: 300;
    color: #fff;
    // font-weight: 500;
    // text-transform: uppercase;
  }
}

// menu btn

#menuBtn {
    text-align: center;
    width: 8%;
    position: fixed;
    right: 0;
    top: 3%;
    cursor: pointer;
}
#menuSwitcher {
    font-size: 36px;
}
span.menuText {
    display: block;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    position: relative;
    top: 2px;
}

// home right menu

// right menu

.abs-right-menu {
  position: fixed;
  background: #fff;
  right: 8%;
  height: 100%;
  width: 22%;
  z-index: 10;

  .sub-links {
    background-color: #fff;
    padding-top: 100px;
    padding-top: 120px;

    display: flex;
    flex-direction: column;

    // width: 300px;
  }

  .sub-title {
    padding: 0 20px;
    h3 {
      font-weight: 200;
      margin-bottom: 1rem;
      font-size: 18px;
      font-size: 20px;
    }
  }
  .sub-link {
    a {
      padding: 0 20px;
      // padding-top: 2rem;
      // padding-bottom: 2rem;
      // display: -webkit-box;
      border-top: 1px solid #ddd;
      height: 12vh;
      display: flex;
      align-items: center;
      transition: 300ms ease;
    }
    a:last-of-type {
      border-bottom: 1px solid #fff;
    }
    a:hover {
    background: rgba(250, 250, 250, 0.15);
    }
    a.active {
    background: rgba(12, 33, 64, 0.69);
    }
    a.active:hover {
    background: rgba(36, 67, 113, 0.69);
    }
  }
}

.abs-right-menu.image-bg {
    background: none;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;

    .sub-links {
    background: none;
    }
    .sub-title {
      color:#fff;
      h3 {
        color: rgba(255, 255, 255, 0.7);
        color: #fff;
      }
    }
    .sub-link {
      a {
        color:#fff;
      }
      a:hover {
        color:#fafafa;
      }
    }
}

// abs transition

// .abs-right-menu, .abs-container, .homeArea {
//   opacity: 1;
//   transition: 800ms ease;
// }

// .abs-hide {
//   opacity: 0;
// }

// Full hw background

.fullHW {
  background: #ddd;
  background: $deep-blue;
  height: 100vh;
  width: 100vw;

  padding: 4rem 2rem;
  padding-top:100px;

  overflow: scroll;
  overflow-x: hidden;
}

// News page

#index-wrapper {
    padding-top: 100px;
    background: $deep-blue;
    //
    background-color: #222e4b;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%2336425f' fill-opacity='0.4' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
}

.postsgohere {
  article {
    padding: 2rem 0;
    border-bottom: 1px solid #fff;

    .entry-title a {
    color:#fff;
    font-weight: 300;
    margin-bottom: 1rem;
    display: -webkit-box;
    }
  }
}

// home page

.homeList li {
    font-size: 21px;
    color: #fff;
    /* margin-bottom: 1rem; */
    letter-spacing: 2px;
}

.fullHW.home {
  background: $deep-blue;
  background: rgba(12, 33, 64, 0.3);
  background: $blue-gradient;

  display:flex;
  flex-direction: row;
  align-items: center;
  z-index: 3;

  .homeArea {
    width: 100%;
    line-height: 1.5;

    .headline {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    h1 {
      color: #fff;
      font-size: 2.5rem;
      margin-bottom: 2rem;
      // line-height: 1;

      font-weight: 200;
    }
    p {
      font-size: 21px;
      color:#fff;
      margin-bottom: 1rem;
      // font-size: 24px;
      letter-spacing: 2px;
    }
  }
}

.compass-container {

}

.compass {

}
.compass:hover {

}

// HOME ELEMENT

.abs-home-menu {
    position: fixed;
    // position: absolute;
    right: 8%;
    // border-right: 1px solid #fff;
    height: 100vh;
    display: flex;
    flex-direction: row;
    border-left: 1px solid #fff;
    width: 22%;
    width: 44%;
    z-index: 5;

    .abs-h-side {
      border-right: 1px solid;
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      .abs-h-item {
        border-bottom: 1px solid;
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        a.abs-h-a {
          width: 100%;
          height: 100%;
          flex-grow: 1;
          display: flex;
          align-items: flex-end;
          transition: 300ms ease;

          .label {
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            color: #fff;
            position: relative;
            left: 25px;
            bottom: 25px;
            font-size: 20px;
            transition: 300ms ease;
          }

        }
        a.abs-h-a:hover {
          background: rgba(250,250,250,.15);
          background: rgba(12,33,64,.69);

            .label {
              bottom: 50px;
            }
        }
      }
      .abs-h-item:last-of-type {
        border-bottom: 0;
      }

    }
}

.homeVideo {
    position: absolute;
    z-index: -2;
    width: 100%;
    top: 0;
    max-height: 100%;
    overflow: hidden;
    position: fixed;


    .videoDiv {

      .videoElement {
        min-width: 100vw;
        width: 100vw;
        min-height: 100vh;
        height: 100vh;
        bottom: 0;
        background-image: url(/wp-content/uploads/2018/05/video-poster-kite.jpg);
        background-position: center;
        background-size: cover;
        object-fit: cover;
      }
    }
}

@media (max-width:1384px) {
  .homeVideo {
    .videoDiv {
        .videoElement {
          // width: auto;
          // height: 100vh;
        }
      }
  }
}

// abs-container

.abs-container {
  // max-width: 860px;
  width: 67%;
}
.team, .value, .orgdev, .innovative, .ma {
  .abs-container {
      align-items: baseline !important;
  }
}

// contact page

.contact {
  .abs-container {
    width: 100%;
  }
  .full-height-center{
    justify-content: center;
  }
}

.contact {

}

input.wpcf7-form-control:focus {
    box-shadow: none !important;
}

.contact-form-wrapper {
  padding-right: 50px;
  padding-right: 10%;

  .wpcf7 {
    input::placeholder {
      color: #fff !important;
      letter-spacing: 1px;
      font-weight: 200;
    }
    .half-field {
      input[type=text],input[type=tel],input[type=email] {
        padding: 6px 0;
        border: 0;
        border-radius: 0;
        background: none;
        border-bottom: 1px solid #fff;
        color: #fff;
        //
        margin-bottom: 2rem;
      }
    }
    .full-field {
      input[type=text] {
        padding: 6px 0;
        border: 0;
        border-radius: 0;
        background: none;
        border-bottom: 1px solid #fff;
        color: #fff;
        //
        margin-bottom: 2rem;
      }
    }
    input.wpcf7-form-control.wpcf7-submit {
      background: #fff;
      width: 200px;
      border-radius: 0;
      border: 0;
      text-transform: uppercase;
      color: #333;
      font-size: 14px;
      padding: 8px 16px;
      display: -webkit-inline-box;
      letter-spacing: 2px;
    }
    input.wpcf7-form-control.wpcf7-submit:focus {
      box-shadow:none;
    }
    input.wpcf7-form-control.wpcf7-submit:active {
      color: #333;
      background-color: rgba(255, 255, 255, 0.80);
      box-shadow:none;
    }

  }


}

// desktop and up
@media (min-width:577px) {
  .hideDesktop {
    display: none !important;
  }
}

// Small devices (landscape phones, 576px and down)
// mobile responsive edits here
@media (max-width: 576px) {
  // HELPERS
  .hideMobile {
    display: none !important;
  }
  // MOBILE MENU
  .hb-flex {
      display: none;
  }
  img.cingeto-logo {
    max-width: 150px;
    bottom: 30px;
    right:10px;
  }
  #menuBtn {
    width: 23%;
  }
  // MOBILE Home
  .fullHW.home .homeArea {
    height: 100%;

    p {
      font-size: 20px;
    }

    .container {
      height: 50%;
      display: flex;
      align-items: flex-end;
    }
  }

  .abs-home-menu {
    width: 100%;
    right: 0;
    height: 45%;
    bottom: 0;
    flex-direction: column;
    border: none;

    .abs-h-side {
      border: none;
      .abs-h-item {
        border: none;
        border-top: 1px solid #fff;

        a.abs-h-a {
          display: flex;
          align-items: center;
          padding-left: 48px;
          .label {
            position: initial;
          }
        }
      }
    }
  }
  .homeVideo .videoDiv .videoElement {
    width: auto;
    height: 100%;
    position: fixed;
    bottom: 0;
    left: -50%;
  }
  // MOBILE Contact

  .contact-row {
    flex-direction: column-reverse;
  }

  // templates to hold content

  .abs-right-menu {
    border: 0 !important;
    width: 100%;
    right: 0;
    bottom: 0;
    // height: 100px;
    // height: 90px;
    background: #fff !important;
    display: flex;
    padding: 15px;
    max-height: 90px;

    .sub-links {
      display: none !important;
    }
  }
  .abs-container {
    width: 100%;
  }

  .full-image {
    .container {
      .abs-container {
        overflow-y: scroll;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0 25px;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline !important;
        padding-top: 150px;
        padding-top: 125px;
      }
    }
  }

  .content {
    padding-bottom: 150px;
  }

  .full-height-center, .std-scroll {
    .content {
      h2 {
        font-size: 28px;
      }
    }
  }
  a.linline-h1-link {
    display: -webkit-box;
  }

}

// MSM MENU

.mobile-sub-menu {
  display: flex;
  flex-direction: column;
  width: 100%;

  .msmMenu {
    color: $deep-blue;
    border: 2px solid $deep-blue;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    padding: 0 20px;
    max-height: 60px;
    font-weight: 300;
  }
  .msmItems {
  opacity: 0;
  // display: flex;
  flex-direction: column;

  display: none;


  a.msm-a {
      padding: 20px 20px;
      text-transform: uppercase;
      color: $deep-blue;
      border-left: 1px solid $deep-blue;
      border-right: 1px solid $deep-blue;
      border-bottom: 1px solid $deep-blue;
    }
    a.msm-a.active {
      background: #e8e8e8;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

.content {
  p,ul,li {
    font-size: 18px;
  }
}

// full height

.full-height-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // justify-content: baseline;
  padding: 2rem 0;
  height: 100%;

  .content {
    h1 {
      color: #fff;
      margin-bottom: 2rem;
      font-size: 1rem;
      text-transform: uppercase;
      // font-weight: 500;
    }
    h2 {
      // color: #fff;
      // font-size: 2.5rem;
      margin-bottom: 2rem;
      // line-height: 1;
      // line-height: 1.35;
      // font-weight: 200;
    }
    p {
      font-size: 18px;
      color:#fff;
    }
  }
}

h1.min-title {
  color: #fff;
  margin-bottom: 2rem;
  font-size: 1rem;
  text-transform: uppercase;
  // font-weight: 500;
  // font-weight: 300;
}

a.linline-h1-link {
    color: #fff;
    margin-right: 6px;
}
a.linline-h1-link:hover {
    text-decoration: underline !important;
}

.std-scroll {
  padding: 2rem 0;
  .content {
    h2 {
      margin-bottom: 2rem;
    }
  }
}

.outro-link {
    margin-top: 2rem;
}

h2.h2-mission {
  color:#fff;
  font-size: 2.25rem;
  margin-bottom: 3rem;
  line-height: 1;

}
.bullets {
  ul {
    li {
      color:#fff;
      font-size: 20px;
      margin-bottom: 1rem;
    }
  }
}

// values

.value {
  margin-bottom: 2rem;
  h2 {
    // font-size: 2rem;
  }
  p {
    // font-size: 1.3rem;

  }
}

// team

.team {
  .content {
    margin-bottom: 2rem;

  }
  .team-profile {
    max-width: 320px;
    border: 1px solid;
    color:#fff;

    .details {
      padding: 15px 15px;
    }

    img {
      // margin-bottom: 1rem;
    }
    h2 {
      font-size: 24px;
    }
    h3 {
      font-size: 20px;
      margin-bottom: 0;
    }
    a {
      color:#fff;
    }
  }
  .team-profile:hover {
    cursor: pointer;
    background: rgba(250,250,250,.15);
  }
}

.sub-links {
  .team-profile {
    img {
      border-bottom: 1px solid #fff;
      border-top: 1px solid #fff;
    }
  }
}

.profile {
  h1 {
    margin-bottom: 1rem;
  }
  h2 {

  }
}
.full-image.profile {
  .container .abs-container {
      align-items: baseline;
  }
}

// resize the container elements to fit full screen
.full-image {
  .container {
    height: 100%;
    .abs-container {
      height: 100%;
      //
      display: flex;
      align-items: center;
    }
  }
}

// clients say

.client-page {
  font-size: 20px;
  // background: $dark-blue;

  .client-feature-img {
    margin-bottom: 2rem;
  }
  .title {
    h1 {
      margin-bottom: 2rem;
    }
  }
  .section {
    margin-bottom: 3rem;
  }
  h2 {
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 16px;
  }
}

.client-details {
    padding-bottom: 4rem;
}

// candidates
.candidate-block {
  padding-top: 1rem;
  padding-bottom: 1rem;
  .quote {
    font-size: 24px;
    font-weight: 300;
  }
  .author {

  }
}

.quote {
  .text {
    margin-bottom: 1rem;
  }
  .attribute {
    padding-left: 25px;
  }
}

// fullhw backgrounds

// WHO WE ARE

.fullHW.whoweare {
  // background:url(/wp-content/uploads/2018/04/acrhitectural-design-art-engineering-structure-9333.jpg);
  // background: url(/wp-content/uploads/2018/04/cingeto-water-drop.jpg);
  background-image: url(/wp-content/uploads/2018/04/export-Cingeto-Website-Who-we-are.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.fullHW.mission {
  // background: url(/wp-content/uploads/2018/04/cingeto-alt-droplet.jpg);
  // background: url(/wp-content/uploads/2018/04/export-blue-clouds-sky-23273.jpg);
  background-image: url(/wp-content/uploads/2018/04/export-Cingeto-Website-Mission-Statement.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.fullHW.global {
  // background: url(/wp-content/uploads/2018/04/cingeto-global.jpg);
  // background: url(/wp-content/uploads/2018/04/export-Cingeto-Website-Who-we-are-Global.jpg);
  // background: url(/wp-content/uploads/2018/04/export-soo-chung-502174-unsplash.jpg);
  background: url(/wp-content/uploads/2018/04/export-Cingeto-Website-Who-we-are-Global-darker.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.fullHW.values {
  // background: url(/wp-content/uploads/2018/04/cingeto-architecture.jpg);
  background: url(/wp-content/uploads/2018/04/export-Cingeto-Website-Who-we-are-Values-1.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.fullHW.team {
  // background: url(/wp-content/uploads/2018/04/starry-blue-sky.jpg);
  // background: url(/wp-content/uploads/2018/04/cingeto-starry-night-sky-gradient.jpg);
  background: url(/wp-content/uploads/2018/04/export-Cingeto-Website-Who-we-are-Team.jpg);
  background-size: cover;
  background-position: 50% 50%;
}
.fullHW.profile {

  // background: url(/wp-content/uploads/2018/04/cingeto-starry-night-sky-gradient.jpg);
  background:url(/wp-content/uploads/2018/04/export-Cingeto-Website-Who-we-are-Team-Individual-Bio.jpg);
  background-size: cover;
  background-position: 50% 50%;
}




// WHAT WE DO

.fullHW.whatwedo {
  background:url(/wp-content/uploads/2018/04/export-architecture-building-business-256381.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.fullHW.orgdev {
    background: url(/wp-content/uploads/2018/04/export-Cingeto-Website-What-we-do-Organizational-Development.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
.fullHW.recruitment {
    background: url(/wp-content/uploads/2018/04/export-Cingeto-Website-What-we-do-Recruitment.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
.fullHW.growth {
    background: url(/wp-content/uploads/2018/04/export-Cingeto-Website-What-we-do-Global-Growth-1.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
.fullHW.coaching {
    background: url(/wp-content/uploads/2018/04/export-Cingeto-What-we-do-Coaching.jpg);
    background: url(/wp-content/uploads/2018/04/export-Cingeto-What-we-do-Coaching-flip.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
.fullHW.ma {
    background: url(/wp-content/uploads/2018/08/ma-cultural-integration.jpg);
    background-size: cover;
    background-position: 50% 50%;
}



// INDUSTRIES

.fullHW.industries {
  background: url(/wp-content/uploads/2018/04/export-Cingeto-Website-Industries.jpg);
  background-size: cover;
  background-position: 50% 50%;
}
.fullHW.aerospace {
  background: url(/wp-content/uploads/2018/04/export-aerobatics-aeroplane-air-672664.jpg);
  background-size: cover;
  background-position: 50% 50%;
}
.fullHW.space {
  // background: url(/wp-content/uploads/2018/04/cingeto-space-satellite-gradient.jpg);
  background: url(/wp-content/uploads/2018/04/export-astronomy-atmosphere-aviation-586056.jpg);
  background-size: cover;
  background-position: 50% 50%;
}
.fullHW.innovative {
  // background: url(/wp-content/uploads/2018/04/export-Cingeto-Website-Innovation.jpg);
  background: url(/wp-content/uploads/2018/04/export-Cingeto-Website-Innovation-1.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

// OUR CLIENTS SAY

.fullHW.ourclientssay {
  // background:url(/wp-content/uploads/2018/04/export-clouds-dawn-dusk-157039.jpg);
  background-image: url(/wp-content/uploads/2018/04/export-steve-johnson-644280-unsplash-1.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.fullHW.aim {
  // background:url(/wp-content/uploads/2018/04/export-clouds-dawn-dusk-157039.jpg);
  background-image: url(/wp-content/uploads/2018/05/export-aim-aerospace.jpg);
  background-size: cover;
  background-position: 50% 50%;
}
.fullHW.eyelights {
  // background:url(/wp-content/uploads/2018/04/export-clouds-dawn-dusk-157039.jpg);
  // background-image: url(/wp-content/uploads/2018/05/export-eyelights-lighter.jpg);
  // background-image: url(/wp-content/uploads/2018/05/export-eyelights-levels-white.jpg);
  background-image: url(/wp-content/uploads/2018/08/export-eyelights-aug-update.jpg);
  background-size: cover;
  background-position: 50% 50%;
}
.fullHW.oneweb {
  // background:url(/wp-content/uploads/2018/04/export-clouds-dawn-dusk-157039.jpg);
  // background-image: url(/wp-content/uploads/2018/05/export-darker-one-web-production-line-inauguration-toulouse-3.jpg);
  background-image: url(/wp-content/uploads/2018/08/export-darker-one-web-production-line-inauguration-toulouse-3-aug-update.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.fullHW.contact {
  // background: url(/wp-content/uploads/2018/04/dark-night-outdoors-796206.jpg);
  // background: url(/wp-content/uploads/2018/04/aircraft-aviation-clouds-586112.jpg);
  // background-image: url(/wp-content/uploads/2018/04/cingeto-rocket-launch-gradient-1.jpg);
  background-image: url(/wp-content/uploads/2018/04/export-aircraft-aviation-clouds-586112.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

// team team

.abs-team {
  .details {
    // padding: 20px;
  }
  .back {
    // padding: 20px;
    display: flex;
    // display: flex;
    flex-direction: column;

    a {
      border-bottom: 1px solid #fff;
      color:#fff;
      flex-grow: 1;
      // text-align: center;
      padding: 20px 20px;
    }
    a:hover {
      background: rgba(250,250,250,.15);
    }
  }
}

.profile {

  .content {
    margin-bottom: 2rem;
  }

  p {
    font-size: 20px;
  }
}

.row.client-intro {
    padding-top: 61px;
}


// single post-

#single-wrapper {
  background: $deep-blue;
  height: 100vh;
  overflow: scroll;
  padding: 4rem 2rem;
  padding-top: 100px;
  //
  background-color: #222e4b;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%2336425f' fill-opacity='0.4' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
}

div#comments {
    display: none;
}

//

.hideDuringMenu {

}

.threeMsmMenu {

}

.showMobile {
  display: none;
}

.contact {
  h3 {
      margin-top: 1rem;
      margin-bottom: 1rem;
  }
}

@media (max-width:576px) {
  .showMobile {
    display: block;
  }
// team fixes
  .team {
    .content {
      padding-bottom: 0;
    }
    .team-profile {
      margin-bottom: 2rem;
    }
    .std-scroll {
    padding-bottom: 125px;
    }
  }
// mobile fixes
.profile {
  a.linline-h1-link {
      display: -webkit-inline-box;
  }
  .content {
    padding-bottom: 0;
  }

  .std-scroll {
    padding-bottom: 200px;
  }
  .back {
    padding-top: 1rem;
    .c-btn {

    }
  }
}
}

// if a screen is below a certain height, use the "baseline attribute so that there is no logo overlap with title"

@media (max-height:700px) {
  .full-image .container .abs-container {
      align-items: baseline;
  }
}

// further updates and fixes, aug 26 2018

ul.indent-ul {
  list-style-position: outside;
}
